table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.hidden {
    display: none;
}

.line {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    html, input {
        font-size: xx-large;
    }

    .line {
        display: block;
    }
}