table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

.hidden {
    display: none;
}

.line, .line-wrap {
    display: flex;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

@media only screen and (max-width: 992px) {
    html, input {
        font-size: xx-large;
    }

    table {
        margin: 5px;
    }

    .line {
        display: block;
    }

    .line-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: initial;
    }
}